*
{
	font-family: serif, sans-serif, cambria;
	box-sizing: border-box;
}
body
{
	margin: 0;
}
p#menuheader
{
	text-align: center;
	font-size: 1.75em;

}
div#container1
{
	width: 100%;
	height: 600px;
	position: fixed;
}
div#section1
{
	position: relative;
	float: left;
	top:20px;
	left: 0;
	background-color: #999999;
	width: 32.33%;
	height: 10%;
	margin-left: 10px;
	border:2px solid black;
}
div#section2
{
	position: relative;
	float: left;
	left: 0;
	top:20px;
	background-color: #999999;
	width: 32.33%;
	height: 40%;
	margin-left: 10px;
	border:2px solid black;
}
div#section3
{
	position: relative;
	float: left;
	left: 0;
	top:20px;
	background-color: #999999;
	width: 32.33%;
	height: 40%;
	margin-left: 10px;
	border:2px solid black;
}
p#box1,p#box2,p#box3,p#box4,p#box5,p#box6
{
	margin: 0;
}
p#box1,p#box3,p#box5
{
	height: 20%;
	width: 33%;
	float: right;
	font-size: 1.25em;
	padding-top: 0;
	text-align: right;
	border:2px solid black;
	border-right: 1px;
	border-top: 1px;
}
p#box2,p#box4,p#box6
{
	height: 80%;
	width: 100%;
	float: left;
	clear: right;
	padding-left: 10px;
	margin-top: 20px;
	font-size: 0.9em;
	top:20%;
}
p#box1
{
	background-color: #8080ff;
	text-align: center;
}
p#box3
{
	background-color: #a3c2c2;
	text-align: center;
}
p#box5
{
	background-color: #ff6600;
	text-align: center;
}
/********** Desktop devices only **********/
@media (min-width: 992px)
{
  div#section1, div#section2, div#section3
  {
    width: 32.33%;
    top:20px;
    height: 40%;
  }
}
/********** Tablets devices only **********/
@media (min-width: 768px) and (max-width: 991px) 
{
   div#section1, div#section2
  {
    width: 48.16%;
    top:20px;
    height: 48%;
  }
    div#section3
  {
    width: 97.66%;
    top:5%;
    height: 48%;
  }
}
/********** Mobile Devices only **********/
@media (max-width: 767px)
{
  div#section1,div#section2, div#section3
  {
    width: 97.66%;
    height: 32.33%;
    position: relative;
  }
  div#section2
  {  	
    top:5%;
  }
  div#section3
  {  	
    top:7%;
  }
} 